.DS_Store
/.env
/.venv
/.idea
/.vscode
/.cursor
.pytest_cache
.mypy_cache
**/__pycache__
/data
/output*
/tests/*.xlsx
/tests/llm_find_tables
/conf/agent.yml
/save
uv.lock
/logs
/tests/output
before_reflection_*.yaml
/.history
/benchmark
/dist
*.egg-info