.datus_home/
.DS_Store
.mypy_cache
.pytest_cache
*.egg-info
**/__pycache__
/.cursor
/.env
/.history
/.idea
/.venv
/.vscode
/benchmark/bird
/benchmark/semantic_layer/gold
/benchmark/semantic_layer/semantic_models
/benchmark/spider2
/conf/agent.clickzetta.yml
/conf/agent.yml
/data
/dist
/logs
/output*
/save
/tests/*.xlsx
/tests/llm_find_tables
/tests/output
before_reflection_*.yaml
conf/agent.clickzetta.yml
tests/data/metricflow_csv/*
uv.lock
